.background{
   background-size: 100%;
    background-image: url(../image/header-bg.jpeg);
    background-repeat: repeat;
    background-attachment: fixed;
}

.background-box{
    background-image: url(../image/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.container {
    width: 1460px;
    margin-left: auto;
    margin-right: auto;   
  
}

.header-item {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.header-button {
    display: inline-block;
    padding-top: 12px;
    padding-left: 25px;
    border: 1px solid #E4B564;
    background-color: transparent; 
    width: 218px;
    height: 50px;
    float:right;
}

.text-button {  
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #E4B564; 
    margin-left: 10px;
}

.title {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;  

}
h1 {
    margin-bottom: 40px;
}

.header-text {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
    grid-template-areas: 
    "item1 item1 item2 item2 item3 item3" 
    "item4 item4 item4 item5 item5 item5";  
    padding-inline-start: 0; 
    list-style-type: none;
}


.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
   
}

.item1 {
    background: #634F2C;
    grid-area: item1;
    width: 467px;
    height: 468px;

}

.item2 {
    background: #B4A385;
    grid-area: item2;

    width: 467px;
    height: 468px;
}

.item3 {
    background: #E4B564;
    grid-area: item3;

    width: 467px;
    height: 468px;
}

.item4 {
    background: #635A4A;
    grid-area: item4;

    width: 715px;
    height: 468px;
}

.item5 {
    background: #B08C4D;
    grid-area: item5;

    width: 715px;
    height: 468px;
}

h2 {
    
    margin-bottom: 95px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    height: 902px;
    padding-inline-start: 0;   
    margin-bottom: 190px;
    
   
}

.box {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    list-style-type: none;
    color: #FFFFFF;
   
    
}

.box1 {
    width: 467px;
    height: 313px;
    padding-top: 45px;
    padding-left: 50px;
    background-color: #0E0E0E;
}

.box2 {
    width: 467px;
    height: 560px;
    padding-top: 55px;
    padding-left: 50px;
    background: #1F1F1F;;
}
.box3 {
    width: 467px;
    height: 439px;
    padding-top: 45px;
    padding-left: 50px;
    background-color: #1F1F1F;
}
.box4 {
    width: 467px;
    height: 405px;
    padding-top: 45px;
    padding-left: 50px;
    background-color: #E4B564;
}
.box5 {
    width: 467px;
    height: 255px;
    padding-top: 45px;
    padding-left: 50px;
    background: #1F1F1F;;
}
.box6 {
    width: 467px;
    height: 313px;
    padding-top: 45px;
    padding-left: 50px;
    background-color: #0E0E0E;
}
.box7 {
    width: 467px;
    height: 277px;
    padding-top: 45px;
    padding-left: 50px;
    background-color: #0A0909;
}
.section-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

}
.section-text {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    
    color: #FFFFFF;
    
}

.section-button {
    margin-top: 150px;
    border: 1px solid #E4B564;
    background-color: transparent; 
    width: 180px;
    height: 50px;
    float:right;
}



    .section-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 786px;
        padding-inline-start: 0;
        
       
    }

    .section4-text {
        font-family: 'Gilam';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
    }
   
    .section {
        width: 487px;
        height: 391px;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    
        
    }

    .section1 {
        background: #634F2C;

    }
    .section2 {
        background: #635A4A;
    }
    .section3 {
        background: rgba(232, 210, 171, 0.76);
        flex-direction: column;
      
    }
    .section4 {
        background: #B08C4D;
    }
    .section5 {
        background: #E4B564;
    }
    .section6 {
        background: #634F2C;
    }
